.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
}

#menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

#hamburger-menu {
    background-color: gray;
}

#categories {
    background-color: lightgrey;
}

#category-titles {
    margin-top: 60px;
    font-size: 25px;
    word-spacing: 100vw;
}

#search-bar {
    width: 40vw;
    border-radius: 20px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#inbox-time {
    display: flex;
    justify-content: flex-end;
}

#category-icons {
  position: relative;
  flex-direction: column;
}

#category-titles {
  position: absolute;
  left: 0;
}

button {
    border: none;
    background-color: transparent;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

@media only screen and (max-width: 770px) {
    #hamburger-menu, #categories {
        display: none;
    }
}


  @media only screen and (min-width: 770px) {
    #sidenav-menu, #sidenav-button {
        display: none;
    }
  }