body {
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#categories {
    background-color: lightgrey;
}

#category-titles {
    margin-top: 60px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}

button {
    border: none;
    background-color: transparent;
}

#logo {
  height: 50px;
  float: left;
  margin-left: 20px;
  margin-top: 30px;
}

#title {
  margin-left: 20px;
  margin-top: 30px;
}



/* ---------- NEW MESSAGE BUTTON ------------ */

#new-message-button {
  border: 2px solid rgb(255, 216, 222);
  border-radius: 10px 10px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  background-color: rgb(255, 216, 222);
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

/* ------------ INBOX BUTTONS ------------- */

#inbox-buttons {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 10vw;
  border-radius: 10px 10px;
  font-size: 2vw;
  background-color: rgb(235, 237, 232);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

#inbox-buttons svg {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#inbox-buttons p {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.5vw;
}



/* ------ INDIVIDUAL INBOX EMAIL CARD ------- */

.card {
  margin-top: 10px;
  border-radius: 10px 10px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

/* ----- SIDE NAV BUTTONS DESKTOP VIEW ------ */

#side-buttons {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 14vw;
  border-radius: 10px 10px;
  border: 3px solid rgb(235, 237, 232);;
  background-color: rgb(235, 237, 232);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

#side-buttons h2 {
  font-size: 2vw;
}


/**/
/* ---------- WEB VIEW MEDIA QUERY------------- */

@media only screen and (min-width: 780px) {

  /* ------------ VERTICAL BAR ICONS -------- */

.icon-bar {
  background-color: rgb(105, 104, 104); /* Dark-grey background */
  height: 100%;
}



.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: rgb(255, 216, 222); /* Add an active/current color */
}

}

/*---- MOBILE & TABLET VIEW MEDIA QUERY--------*/

@media only screen and (max-width: 779px)  {
  #hamburger-menu, #categories {
    display: none;
}
  #search-bar {
    width: 70vw;
    border-radius: 20px 20px;
  }

  #sidenav-button {
    margin-top: 10px;
  }

  /* ------------ VERTICAL BAR ICONS -------- */

  .icon-bar {
    width: 100vw; /* Full-width */
    background-color: rgb(105, 104, 104); /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
  .icon-bar a:hover {
    background-color: rgb(22, 20, 20); /* Add a hover color */
  }
  
  .active {
    background-color: rgb(255, 216, 222); /* Add an active/current color */
  }
  
}

/* ------------ INBOX BUTTONS ------------- */

  .btn-light {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  border-radius: 40%;
  }
